@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Permanent+Marker&display=swap');

html{
    height: 100%;
}

body{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal; 
   
}
h1{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.form-box input::placeholder{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    color: #DC143C;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Assets/backgorund.png');
    background-size: cover; /* Ensure the background image covers the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image repetition */
}

input[type="text"], input[type="password"], textarea {
    width: 82%; 
    max-width: 400px; 
    height: 30px; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
  }
  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 20px; /* Add padding inside the box */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}